{% extends "base.html" %}

    
{% block content %}

<!-- Tabela de Dados -->
<div class="table-responsive rounded ">
    <table class="table table-dark table-striped table-md  ">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome do Fii</th>
                <th>Quantidade</th>
                <th>Preço médio</th>
                <th>Total</th>
                <th>Adiconar</th>
            </tr>
        </thead>
        <tbody>
            {% for fii in fiis %}
            <tr>
                <td>{{fii.id}}</td>
                <td><a href="{% url 'trades' pk=fii.pk %}">{{fii.name}}</a></td>
                <td>{{fii.total_amount}}</td>
                <td>$150.00</td>
                <td></td>
                <td>
                    <a href="{% url 'trades' pk=fii.pk %}"><button>+</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
