{% extends "base.html" %}

{% block content %}
<div class="card bg-dark">
<div class="mt-4 d-flex-inline p-5 ">
    <form method="post" action="{% url 'new_trade' %}">
    {% csrf_token %}
        <div class="form-control p-3 mb-3">
            <label class="ml-3 ">FII</label>
            {{ form.fii }}
        </div>
        <div class="form-control p-3 mb-3">
            <label class="ml-3 ">Data</label>
            {{ form.date }}
        </div>
        <div class="form-control p-3 mb-3">
            <label class="ml-3 ">Tipo de transação</label>
            {{ form.type_trade }}
        </div>
        <div class="form-control p-3 mb-3">
            <label class="ml-3 ">Quantidade de cotas</label>
            {{ form.amount }}
        </div>
        <div class="form-control p-3 mb-3">
            <label class="ml-3 ">Preço</label>
            {{ form.price }}
        </div>
        <button type="submit" class="btn btn-primary " > Cadastar </button>
    </form>
</div>

{% endblock %}